{% extends 'base.html' %}
{% block title %} Gallery {% endblock %}
<!--{% block header %} Gallery {% endblock %}-->

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="https://github.com/sephooko/catCloud/blob/5a415eb0876980e7f36674800266cd2a5c0b1f05/static/images/mischief_cute_1.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_cute_1.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_cute_2.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_cute_2.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_cute_3.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_cute_3.jpg" class="img-fluid">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_funny_1.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_funny_1.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_funny_2.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_funny_2.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_funny_3.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_funny_3.jpg" class="img-fluid">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><br>zawartość komórki<br>
            <a href="images/mischief_sleep_1.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_sleep_1.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_sleep_2.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_sleep_2.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="..." data-toggle="lightbox" data-gallery="my-gallery">
                <img src="..." class="img-fluid">
            </a>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });
    $(this).ekkolightbox({
        loadingMessage: "Loading…",
        showArrows: true,
        leftArrow: "<<<",
        rightArrow: ">>>"
    });
</script>
{% endblock %}
<!--{% block content %}-->
<!--<h3 class="header_reverse" id="poznaj_kotki">Poznaj moje kotki</h3>-->
<!--<div class="container_2">-->
<!--    &lt;!&ndash;ALCIA&ndash;&gt;-->
<!--    <div class="split">-->
<!--        <h3 class="header_reverse">Alcia</h3>-->
<!--        <br>-->
<!--        &lt;!&ndash;GALLERY START&ndash;&gt;-->
<!--        <div class="gallery">-->
<!--            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_1.jpg" alt="alcia1"></div>-->
<!--            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_2.jpg" alt="alcia2"></div>-->
<!--            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_3.jpg" alt="alcia3"></div>-->
<!--            <div class="img_container"><img class="kotki_images" src="images/alcia_cute_4.jpg" alt="alcia4"></div>-->
<!--        </div>-->
<!--        &lt;!&ndash;GALLERY END&ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash;MISCHIEF&ndash;&gt;-->
<!--    <div class="split">-->
<!--        <h3 class="header_reverse">Mischief</h3>-->
<!--        <br>-->
<!--        &lt;!&ndash;GALLERY START&ndash;&gt;-->
<!--        <div class="gallery">-->
<!--            <div class="img_container"><img class="kotki_images" src="images/mischief_cute_1.jpg" alt="mis1"></div>-->
<!--            <div class="img_container"><img class="kotki_images" src="images/mischief_cute_2.jpg" alt="mis2"></div>-->
<!--            <div class="img_container"><img class="kotki_images" src="images/mischief_cute_3.jpg" alt="mis3"></div>-->
<!--        </div>-->
<!--        &lt;!&ndash;GALLERY END&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->
<!--{% endblock %}-->