{% extends 'base.html' %}
{% block title %} Gallery {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_cute_1.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_cute_1.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_cute_2.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_cute_2.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_cute_3.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_cute_3.jpg" class="img-fluid">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_funny_1.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_funny_1.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_funny_2.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_funny_2.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_funny_3.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_funny_3.jpg" class="img-fluid">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4"><br>zawartość komórki<br>
            <a href="images/mischief_sleep_1.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_sleep_1.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="images/mischief_sleep_2.jpg" data-toggle="lightbox" data-gallery="my-gallery">
                <img src="images/mischief_sleep_2.jpg" class="img-fluid">
            </a>
        </div>
        <div class="col-sm-4">
            <br>zawartość komórki<br>
            <a href="..." data-toggle="lightbox" data-gallery="my-gallery">
                <img src="..." class="img-fluid">
            </a>
        </div>
    </div>
</div>
<script>
    // $(document).on('click', '[data-toggle="lightbox"]', function(event) {
    //     event.preventDefault();
    //     $(this).ekkolightbox({
    //         loadingMessage: "Loading…",
    //         showArrows: true,
    //         leftArrow: "<<<",
    //         rightArrow: ">>>"
    //     });
    // });
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
{% endblock %}