<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
   <div class="container">
       <form action="/msgsent" method="post">
           <label for="email">Your email adress: </label><br>
           <input type="text" id="email" name="email" value="{{ request.form.email }}"><br>
           <label for="msgtext">Message content: </label><br>
           <textarea type="text" id="msgtext" name="msgtext">{{ request.form.msgtext }}</textarea><br>
           <input type="submit" value="Submit" >
       </form>
   </div>
</body>