<!--{% extends 'base.html' %}-->

<!--{% block title %} Księga Gości {% endblock %}-->

<!--{% block body %}-->
<!--    <div class="container">-->
<!--       <form action="{{ url_for('ksiega') }}" method="post">-->
<!--           <div class="form-group">-->
<!--               <label for="cname">Name</label><br>-->
<!--               <input class="form-control" type="text" id="cname" name="cname" value="{{ request.form.cname }}" placeholder='Enter your nickname' required><br>-->
<!--           </div>-->
<!--           <div class="form-group">-->
<!--               <label for="comment">Comment</label><br>-->
<!--               <textarea class="form-control" type="text" id="comment" name="comment" placeholder='Be nice :)'>{{ request.form.comment }}</textarea><br>-->
<!--           </div>-->
<!--           <input class="btn btn-light btn-lg" type="submit" value="Submit">-->
<!--       </form>-->
<!--    </div>-->
<!--    <div class="container">-->
<!--        <div class="form-group-lg">-->
<!--            <h1>Lista komentarzy: </h1><br>-->
<!--        </div>-->
<!--        {% for result in data %}-->
<!--            <div class="form-control-static">-->
<!--                <p>{{result.name}} napisał {{result.text}} </p>-->
<!--            </div>-->
<!--        {% else %}-->
<!--            <div class="form-control-static">-->
<!--                <p>Brak wpisów </p>-->
<!--            </div>-->
<!--{% endfor %}-->
<!--    </div>-->

<!--{% endblock %}-->